:root {
  /* color */
  --white-color: #ffffff;
  --purple-color: #7510f7;
  --black-color: #141c3a;
  --gray-color: #ffffff4d;
  /* size */
  --logo-size: 20px;
  /* font size */
  --font-large: 18px;
  --font-medium: 16px;
  --font-small: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 모바일 CSS */
/* 기본 CSS */

body {
  height: 100%;
  /* 스크롤바 감추기 */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  display: flex;
}
/* 스크롤바 감추기 */

::-webkit-scrollbar {
  display: none;
}

/* -webkit-appearance: none;

body::-webkit-scrollbar {
  dispaly
  width: 0 !important;
} */

#wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.scroll_bar_wrapper {
  position: relative;
  top: 0;
  right: 0;
  border-left: 1px solid var(--gray-color);
  background: var(--white-color);
  height: 100%;
  width: 8px;
  z-index: 100;
}

.scroll_bar {
  position: fixed;
  width: 2.5%;
  /* height: 5%; */
  height: 27px;
  background: var(--black-color);
  /* position: relative; */
  top: 0;
  right: 0;
  z-index: 110;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 1.8rem;
}

header .logo {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 3.4rem;
  cursor: pointer;
  margin-left: 6px;
}

#gnb_button {
  padding-right: 10px;
  margin-right: 16px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 16px;
  height: 1px;
  background-color: var(--black-color);
  margin-top: 4px;
  transition: 0.4s;
}

/* TODO:(질문)translate로 위치 변경하니까 중아에서 벗어남. 직접 말고 정렬할 수 있는 방법이 있는지!  -> 부모에 포지션 relative 먹이고 자식이 absolute
하면 회전, 이동 여부와 상관없이 고정!*/

.change {
  background-color: var(--purple-color);
}

.change.bar1 {
  transform: rotate(-45deg) translate(-2px, 2px);
}

.change.bar2 {
  opacity: 0%;
}

.change.bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

nav {
  width: 100%;
}

nav .gnb {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 35px;
  margin: 0 auto;
  box-shadow: 0px 12px 22px -20px #cbcbda;
  border-bottom: 1px solid var(--gray-color);
}

.gnb li {
  margin: 0.7rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.mentorship {
  color: var(--black-color);
  cursor: pointer;
}

.mentorship:hover {
  color: var(--purple-color);
}

.say_hello {
  color: var(--purple-color);
  border-radius: 2.4rem;
  border: 2px solid var(--purple-color);
  padding: 0.6rem 1.2rem;
  transition: 0.4s;
  cursor: pointer;
  font-weight: 400;
}

.say_hello:hover {
  color: var(--white-color);
  background: var(--purple-color);
}

.hero_section {
  display: block;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_text {
  /* TODO:span에 패딩을 먹이면 왜 글자 정렬이 깨질까? -> display속성이 inline이어서 깨지니까 inline-block으로 변경*/
  text-align: center;
  letter-spacing: -0.01rem;
  margin-bottom: 66px;
  padding: 0 25px;
}

.hero_text .title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 2.2rem;
}

.hero_text .desc {
  font-size: 1.28rem;
  line-height: 1.8rem;
}

.img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_container .avartar {
  width: 47%;
  margin-bottom: 80px;
}

.img_container .computer {
  width: 90%;
}

/* 인트로듀스 CSS */

.introduce_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduce {
  width: 100%;
  background: var(--purple-color);
  color: var(--white-color);
  padding: 50px 10px 220px 10px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.introduce .greeting {
  text-align: center;
  font-size: 1.4rem;
  margin: 30px 30px;
}

.introduce .about_me {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-align: center;
  padding: 0 16px;
}
/* .jobs_description {
  width: 86%;
  position: absolute;
  top: 66%;
  background: white;
  border-radius: 13px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(203, 203, 218, 0.38);
  line-height: 25px;
  /* TODO:하단에 그림자 넣기 */
/* } */

.jobs_description {
  width: 86%;
  /* position: absolute; */
  position: relative;
  z-index: 20;
  top: -181px;
  background: white;
  border-radius: 13px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-color);
  line-height: 25px;
  /* TODO:하단에 그림자 넣기 */
}
.jobs_description section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.job_icon {
  margin: 10px 0;
}

.job_name {
  font-size: 1.5rem;
  margin: 37px 0;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.about_job {
  font-size: 1.1rem;
  line-height: 26px;
  /* margin-bottom: 40px; */
  font-weight: 300;
}

.detail_title {
  font-size: 1.1rem;
  color: var(--purple-color);
  font-weight: 400;
  margin-top: 43px;
  margin-bottom: 7px;
}

.detail_list {
  font-size: 1.1rem;
}

.detail_list > li {
  margin: 5px;
}

.developer_section {
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

.recent_work_section {
  position: relative;
  width: 100%;
  top: -102px;
  /* TODO:간격 조정 방식 바꾸기 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--gray-color);
}

.recent_work_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.recent_work_list li {
  position: relative;
  cursor: pointer;
}
.recent_work_list > li img {
  width: 97%;
  height: 90%;
  margin-bottom: 31px;
  border-radius: 15px;
}

.recent_work_title {
  font-size: 1.6rem;
  margin: 30px;
}

.recent_work_desc {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.8rem;
  margin-bottom: 2.9rem;
}

.email_me {
  color: var(--purple-color);
  font-weight: 400;
}

.dribbble_button {
  font-size: 1.2rem;
  color: var(--purple-color);
  font-weight: 400;
  border: 2px solid var(--purple-color);
  border-radius: 40px;
  padding: 1rem 3rem;
  letter-spacing: 0.5px;
  margin: 4.5rem 0;
  cursor: pointer;
  transition: 0.4s;
}

.recent_work_list .overlay {
  background: #141c3a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90%;
  opacity: 0;
  border-radius: 15px;
  display: flex;
  transition: 0.3s;
}

/* TODO: hover하면 overlay가 더 크게 보임. */
.overlay_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 350;
  font-size: 1.2rem;
  padding: 10% 20%;
  line-height: 1.4rem;
}

.overlay_text_container > span {
  color: white;
}

.recent_work_list li:hover .overlay {
  opacity: 1;
}

.visit_website {
  border: 2px solid var(--purple-color);
  padding: 10px 0;
  border-radius: 50px;
  margin-top: 12%;
}
.visit_website:hover {
  color: white;
  background: var(--purple-color);
}

.dribbble_button:hover {
  color: var(--white-color);
  background: var(--purple-color);
}

.collaboration_section {
  text-align: center;
  padding-bottom: 15%;
}

.collaboration_section h1 {
  font-size: 1.2rem;
  padding: 0 20px;
  margin-bottom: 4rem;
}

.company_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.company_list img {
  width: 40%;
  margin: 0.8rem 1rem;
}

.project_section {
  width: 100%;
  background: var(--purple-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_text_container {
  padding: 5rem 1.8rem 11rem;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
}

.startup_projects {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.project_list {
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.project_list > li {
  position: relative;
  top: -123px;
  z-index: 20;
  background: white;
  border-radius: 10px;
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  border: 1px solid var(--gray-color);
  margin-bottom: 2rem;
}

.project_list > li > .address {
  color: var(--purple-color);
  font-size: 1.1rem;
  font-weight: 400;
}

.project_list > li > .inactiveLink {
  color: #af8ce7;
}

.project_logo {
  width: 60%;
}

.project_detail {
  padding: 2rem 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

/* TODO: 로그 사이즈 조정하기 */
.kybercore {
  width: 87%;
}

.basin {
  width: 43%;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.marketing_section {
  text-align: center;
  border-bottom: 1px solid var(--gray-color);
  font-size: 1.2rem;
  line-height: 1.9rem;
  position: relative;
  top: -5rem;
}

.marketing_title {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.marketing_desc {
  padding: 0 2rem;
  font-size: 1.3rem;
}

.talk_button {
  color: var(--purple-color);
  border: 2px solid var(--purple-color);
  border-radius: 50px;
  padding: 0.5rem 2rem;
  display: inline-block;
  margin: 3rem 0 6rem 0;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 400;
  transition: 0.4s;
}

.talk_button:hover {
  color: var(--white-color);
  background: var(--purple-color);
}

.testimonials_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
  position: relative;
}

.testimonials_slide {
  /* TODO: 여기서 이 코드가 왜 글자를 길게 만드는지 확인하기  */
  /* position: relative; */
  display: flex;
  justify-content: center;
}

.testimonials_title {
  font-size: 1.5rem;
  margin: 1.8rem;
  font-weight: 800;
}

.testimonials_detail {
  background: var(--white-color);
  position: absolute;
  z-index: 0;
}

.testimonials_detail > img {
  width: 6.6rem;
  margin: 3rem 0 2.5rem 0;
}

.showing {
  z-index: 1;
}

.image_round {
  border-radius: 50%;
}

.people_say {
  font-size: 1.4rem;
  padding: 0 1rem;
  font-weight: 340;
}

.good_comment {
  font-size: 1.3rem;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  font-weight: 350;
}

.about_person {
  display: flex;
  flex-direction: column;
}

.who_says {
  font-size: 1.3rem;
  font-weight: 800;
}

.where_work {
  font-size: 1.15rem;
}

.circle_button {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 2rem 0 4rem 0;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--gray-color);
  margin: 0 0.5rem;
  /* margin-bottom: 3.5rem; */
  transition: background 0.6s ease-in;
}

.clicked {
  background: var(--purple-color);
}

/* .circle_first {
  background: var(--purple-color);
} */

.start_section {
  width: 89%;
  background: black;
  color: var(--white-color);
  text-align: center;
  z-index: 20;
  padding: 4.5rem 1rem;
  border-radius: 15px;
  line-height: 1.4rem;
  position: absolute;
  top: -71px;
}

.start_project_title {
  font-size: 2rem;
}

.start_project_detail {
  font-size: 1.1rem;
  margin: 2rem 1rem;
}

.do_this_button {
  font-size: 1.3rem;
  font-weight: 400;
  border: 2px solid var(--purple-color);
  border-radius: 40px;
  padding: 0.8rem 2rem;
  display: inline-block;
  transition: 0.4s;
  margin-top: 0.5rem;
}

.do_this_button:hover {
  background: var(--purple-color);
}

footer {
  width: 100%;
  background: var(--purple-color);
  position: relative;
  top: 40rem;
  padding: 13.5rem 1rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TODO:a태그나 img태그에 margin-top하는 차이 */
footer > a {
  margin-top: 8rem;
}

.sentence {
  color: white;
  opacity: 0.8;
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 1rem 0;
}

.sns_button {
  display: flex;
  font-size: 1.1rem;
  margin: 3rem 0 3rem 0;
}

.sns_button > li {
  border: 2px solid var(--gray-color);
  border-radius: 50px;
  padding: 0.7rem;
  margin: 0.3rem;
  cursor: pointer;
}

.sns_button > li:hover {
  background: var(--white-color);
}

.website_infomation {
  color: white;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website_infomation > .copyright {
  letter-spacing: 1px;
}

.website_infomation > img {
  width: 10rem;
  margin: 1rem;
  cursor: pointer;
}

/* Tablet CSS */
@media all and (min-width: 768px) {
  .scroll_bar {
    height: 12%;
  }

  .recent_work_desc {
    padding: 0 10px;
  }

  .company_list img {
    width: 20%;
  }

  .collaboration_section {
    padding-bottom: 10%;
  }

  .collaboration_section h1 {
    font-size: 1.4rem;
    margin: 0 25% 8%;
  }

  .startup_projects {
    font-size: 2rem;
  }

  .projects_desc {
    padding: 0 10rem;
  }

  .project_list > li {
    width: 45%;
    margin-bottom: 1rem;
  }

  .project_list {
    justify-content: space-evenly;
  }

  .marketing_section {
    top: -2rem;
  }

  .marketing_title {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .talk_button {
    margin: 3rem 0 9rem 0;
  }

  .good_comment {
    padding: 0 12rem;
  }

  .start_section {
    width: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1.5rem;
  }

  .start_project_detail {
    width: 30%;
  }

  .sentence {
    display: block;
    margin-top: 3rem;
    width: 15rem;
  }

  .sns_button > li {
    margin: 0.3rem 0.8rem;
  }

  .footer {
    padding: 5.5rem 1rem 3.5rem;
  }

  .footer > a {
    margin-top: 7rem;
  }
}

/* PC CSS */
@media all and (min-width: 960px) {
  #wrap {
    width: 100%;
  }

  .scroll_bar {
    height: 12%;
  }

  .jobs_description {
    flex-direction: row;
  }

  .developer_section {
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-bottom: 0;
    border-top: 0;
  }

  .recent_work_section {
    padding: 0;
    top: -40px;
  }

  .recent_work_title {
    font-size: 2rem;
  }

  .recent_work_desc {
    margin-bottom: 6rem;
  }

  .recent_work_list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .recent_work_list > li img {
    width: 363px;
    height: 242px;
  }

  .recent_work_list li {
    margin: 0 15px;
  }

  .dribbble_button {
    margin: 4rem 0 8rem 0;
  }

  .company_list img {
    width: 21%;
  }

  .collaboration_section h1 {
    font-size: 2rem;
    margin: 10% 20% 5%;
  }

  .project_desc {
    padding: 0 16rem;
  }

  .project_text_container {
    padding: 9rem 1.8rem 13rem;
  }

  .project_list > li {
    width: 31%;
    margin: 0 0.5rem 2rem 0.5rem;
    top: -135px;
  }

  .good_comment {
    padding: 0 13rem;
  }
}
