:root {
  /* color */
  --white-color: #ffffff;
  --purple-color: #7510f7;
  --black-color: #141c3a;
  /* size */
  --logo-size: 20px;
  /* font size */
  --font-large: 18px;
  --font-medium: 16px;
  --font-small: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
