:root {
  /* color */
  --white-color: #ffffff;
  --purple-color: #7510f7;
  --black-color: #141c3a;
  /* size */

  /* font size */
  --large-font: 18px;
  --medium-font: 16px;
  --small-font: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
